{% extends "pickles/templates/page.html" %}

{% block content %}
<article class="p-article">
  <header>
    <h1>{{ page.title | markdown | striptags }}</h1>
    <div>
      <div class="c-time">

        <time datetime="{{ page.date | date(format=" %F") | safe }}">
          {{ page.date | date(format="%F") }}
        </time>
        {% if page.extra.author -%}
        by {{ page.extra.author}}
        {%- endif %}
      </div>
    </div>
  </header>
  {% if page.toc and page.extra.toc -%}
  <div class="toc">
    <strong>Contents</strong>
    <div>
      <nav id="TableOfContents">
        <ul>
          {% for h1 in page.toc %}
          <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
              <li>
                <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                {% if h2.children %}
                <ul>
                  {% for h3 in h2.children %}
                  <li>
                    <a href="{{h3.permalink | safe}}">{{ h3.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  {%- endif %}
  <section id="js-article" class="p-article__body">
    {{ page.content | safe }}
  </section>
  <footer>
    <nav class="c-pagination p-pagination">
      <div class="c-pagination__ctrl">
        <div class="c-pagination__newer">
          {% if page.later -%}
          <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
          {%- endif %}
        </div>
        <div class="c-pagination__older">
          {% if page.earlier -%}
          <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
          {%- endif %}
        </div>
      </div>
    </nav>
  </footer>
</article>
{%- endblock content %}
{% block webring -%}
{%- endblock webring %}
{% block meta -%}
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:image" content="{{ get_url(path="og-image.png", trailing_slash=false) }}" />
<meta name="twitter:card" content="summary_large_image" />
{%- endblock meta %}
{% block css -%}
<link rel="stylesheet" href="{{ get_url(path="base.css") }}" />
<link href="{{ get_url(path="fontawesome/fontawesome.css") }}" rel="stylesheet">
<link href="{{ get_url(path="fontawesome/brands.css") }}" rel="stylesheet">
<link href="{{ get_url(path="fontawesome/solid.css") }}" rel="stylesheet">
{%- endblock css %}
{% block extra_head -%}
<link rel="stylesheet" href="/css/samsung.css">
<style>
a.p-home__logo-link { display: block; }
.p-home__logo {
    display: block;
    max-width: 440px;
    height: auto;
    margin: 0 auto;
}
</style>
{%- endblock extra_head %}

{% block header -%}
<header class="l-header">
    <a href="{{ config.base_url }}" class="p-home__logo-link"><img src="/logo.webp" alt="SAIL Montreal" class="p-home__logo"></a>
</header>
{%- endblock header %}
